{% extends 'classes.html' %}
<!-- WIP -->
<!-- make num of students track with actual class -->
<!-- change link to edit class eventually -->
{% block class %}
<div class="class-periods">
    <a href="/P1">
       <div class="class-boxes">
          <div>
             <span>Period 1</span>
             <h3># students</h3>
          </div>
          <i class="fa-solid fa-arrow-right-long"></i>
       </div>
    </a>
</div>

<div class="class-periods">
    <a href="/P2">
       <div class="class-boxes">
          <div>
             <span>Period 2</span>
             <h3># students</h3>
          </div>
          <i class="fa-solid fa-arrow-right-long"></i>
       </div>
    </a>
</div>

<div class="class-periods">
    <a href="/P3">
       <div class="class-boxes">
          <div>
             <span>Period 3</span>
             <h3># students</h3>
          </div>
          <i class="fa-solid fa-arrow-right-long"></i>
       </div>
    </a>
</div>

<div class="class-periods">
    <a href="/P4">
       <div class="class-boxes">
          <div>
             <span>Period 4</span>
             <h3># students</h3>
          </div>
          <i class="fa-solid fa-arrow-right-long"></i>
       </div>
    </a>
</div>

<div class="class-periods">
    <a href="/P8">
       <div class="class-boxes">
          <div>
             <span>Period 8</span>
             <h3># students</h3>
          </div>
          <i class="fa-solid fa-arrow-right-long"></i>
       </div>
    </a>
</div>
{% endblock %}