<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Automated Attendance</title>
        <link rel="stylesheet" href='{{url_for('static',filename='css/landing.css')}}' />
        <link rel="icon" type="image/png" href='{{url_for('static',filename='images/autoattendlogo.png')}}'/>
    </head>
    <body>
        <nav>
            <div class="logo"><img href='{{url_for('static',filename='images/autoattendlogo.png')}}' class="logo-image"></div>
            <div class="nav-items">
                <a href="/">About</a>
                <a href="/">Credits</a>
                <!-- <a href="{{url_for('signup')}}">Log In</a> -->
                <a href="{{ url_for('signup') }}">Sign Up</a>
            </div>
        </nav>
        <section class="hero">
            <div class="hero-container">
                <div class="column-left">
                    <h1>Automated Attendance</h1>
                    <h3>Attendance made easy</h3>
                    <p>An independent study project by a <br>group of students at Allen High School</p>
                    <a href="{{ url_for('login') }}">
                    <button>Get Started</button>
                    </a>
                </div>
                <div class="column-right">
                    <img src='{{url_for('static',filename='images/yellowAndTealBlob.png')}}' class="hero-image">
                </div>
            </div>
        </section>
    </body>
</html>

