{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
      <div class="hero-container">
        <h1 class="heading">Log In</h1>
        <div class="form-group">
          <div class="form-wrapper">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required=""/>
            <label for="email" class="form__label">Email</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required=""/>
            <label for="password" class="form__label">Password</label>
          </div>
        </div>
            <button>Log In</button>
        <p class="if-you-have">Or if you havent made an account, <a href="/sign-up">Sign Up.</a></p>
      </div>
    </form>
    {% endblock %}<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In</title>
        <link rel="stylesheet" type="text/css" href="login.css">
    </head>
    <body>
        <a href="landing.html" class="link">Back</a>

        <h1 class="heading">Log In</h1>

        <div class="form__group">
            <input type="text" class="form__input" id="name" placeholder="Username" required=""/>
            <label for="name" class="form__label">Username</label>
            <br>
            <input type="password" class="form__input" id="name" placeholder="Password" required=""/>
            <label for="name" class="form__label">Password</label>
        </div>

        <button class="login" type="button">Log In</button>
        <br>
        <p>or</p>
        <br>
        <button class="signup" type="button">Sign Up</button>
    </body>
</html>