@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    font-family: 'Outift', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-40%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    0% {
      transform: translateX(40%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInDown {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

body {
    width: 100%;
    height: auto;
    background: #101010;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

nav {
    animation: .5s ease-out 0s 1 slideInDown;
    height: 80px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1800px) / 2);
}

.logo {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    padding: 0 1.5rem;
}

.logo-image {
    width: 48px;
    height: auto;
}

nav a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #8685ef;
    padding: 0 1.5rem;
}

nav a:link, a:visited{
    color: #8685ef;
    background-image: linear-gradient(#fff, #fff);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    padding: .7rem;
    transition: background-size 0.2s ease-in-out;
    text-decoration: none;
}

nav a:nth-child(1) {
    color: #fff;
    background-image: linear-gradient(#8685ef, #8685ef);
}

nav a:hover, a:active {
    background-size: 60% 0.1em;
}

nav a:hover:nth-child(1), a:active {
    background-size: 60% 0.1em;
}

.hero {
    background: transparent;
}

.hero-container {
    width: calc(100% - 300px);
    margin-left: 150px;
    height: 100%;
    padding: 7rem;
    color: #fff;
    text-align: center;
}

.title {
    padding: 0 3rem 3rem 3rem;
}

.hero-container h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;
}

.hero-container h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: lighter;
}

.hero-container a {
    text-decoration: none;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    color:#fff;
    background: #8585ef;
    border-radius: 50px;
}

.hero-container a:hover {
    background: #fff;
    color: #000
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}

