* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Circular', sans-serif;
}

body {
  width: 100%;
  height: auto;
  background-image: url("images/loginbackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

nav {
  height: 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1850px) / 2);
}

nav a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #001220;
  padding: 0 1.5rem;
}

nav a:link, a:visited{
  color: #001220;
  background-image: linear-gradient(#fff, #fff);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
  text-decoration: none;
}

nav a:hover, a:active {
  background-size: 60% 0.1em;
}

.hero {
  background: transparent;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 1rem calc((100vw - 1600px) / 2);
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  padding: 0rem 2rem;
}

.column-left h1 {
  margin-bottom: 3rem;
  font-size: 6rem;
  padding: 1rem 1rem;
  font-weight: bold;
  color: #d2b803;
}

.column-left button {
  padding: 1rem 3rem;
  margin-bottom: 8rem;
  font-size: 2rem;
  font-family: 'Circular', sans-serif;
  font-weight: lighter;
  border: none;
  color:#000;
  background: #d2b803;
  cursor: pointer;
  border-radius: 50px;
}

.column-left button:hover {
  background: #fff;
  color: #000
}

.form__label {
  font-family: 'Circular', sans-serif;
  color: #efedf0;
  margin-top: 0.7rem;
  font-size: 1.2rem;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Circular', sans-serif;
  color: #001220;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  background-color: #efedf0;
  border: none;
  width: 50rem;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

input[type='password'] {
    font-family: Verdana;
    letter-spacing: 0.125em;
}

.form__input::placeholder {
    font-family: 'Circular',sans-serif;
    letter-spacing: normal;
}

.column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.column-right h3 {
  margin-left: 4rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  padding: 1rem 3rem;
  font-weight: bold;
  color: #001220;
}

.column-right button {
  padding: 1rem 3rem;
  margin-bottom: 8rem;
  font-size: 2rem;
  font-family: 'Circular', sans-serif;
  font-weight: lighter;
  border: none;
  color:#001220;
  background: #fff;
  cursor: pointer;
  border-radius: 50px;
}

.column-right button:hover {
  background: #001220;
  color: #fff
}

.hero-image {
  position: absolute;
  text-align: center;
  width: 40rem;
  height: auto;
  margin-bottom: 8rem;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .hero-container {
      grid-template-columns: 1fr;
  }
}