body {
    background-color: #2e2d33;
    font-family: 'Circular',sans-serif;

}

p {
    font-family: 'Circular',sans-serif;
    color: #efedf0;
    font-size: 20px;
    text-align: center;
    padding-top: 1%;
}

.link {
    font-family: 'Circular',sans-serif;
    font-size: 30px;
    float: left;
    position: absolute;
    padding: 35px;
}

a:link, a:visited {
    color: #efedf0;
    background-color: transparent;
    text-decoration: none;
}

a:hover, a:active {
    color:#efedf0;
    background-color: transparent;
    text-decoration: none;
}

.heading {
    font-weight: 400;
    padding: 7% 0 4% 0;
    color: #efedf0;
    text-align: center;
    font-size: 72px;
    letter-spacing: 0.05em;
    line-height: 130%; 
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

/* rem is used for precide cont spacing */
.form__label {
  font-family: 'Circular', sans-serif;
  color: #efedf0;
  font-size: 1.2rem;
  margin-left: 27.5rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Circular', sans-serif;
  color: #2e2d33;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: #efedf0;
  border: none;
  width: 40%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

input[type='password'] {
    font-family: Verdana;
    letter-spacing: 0.125em;
}

.form__input::placeholder {
    font-family: 'Circular',sans-serif;
    letter-spacing: normal;
}

.login {
    border-radius: 5px;
    font-size: 20px;
    padding: 14px 68.5px;
    margin: 1% 0 1% 43%;
    cursor: pointer;
    color: #fff;
    background-color: #f21a4c;
    font-size: 1.5rem;
    font-family: 'Circular',sans-serif;
    font-weight: 100;
    border: 3px solid #f21a4c;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
  }
  
  .login:hover {
    background-color: #c5133d;
    color: #fff;
    border: 3px solid #c5133d;
  }

  .signup {
    border-radius: 5px;
    font-size: 20px;
    padding: 14px 60px;
    margin: 1% 0 1% 43%;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    font-size: 1.5rem;
    font-family: 'Circular',sans-serif;
    font-weight: 100;
    border: 3px solid #fFF;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
  }
  
  .signup:hover {
    background-color: #d7d5d5;
    color: #000;
    border: 3px solid #d7d5d5;
  }
