@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    background: #181818;
    position: relative;
    display: flex;
}


a,a:visited {
    text-decoration: none;
    color: transparent;
}


#sidebar {
    background: #101010;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 .4rem .8rem #0005;
}


#sidebar .logo {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 30px 0 0 30px;
}


#sidebar .items {
    margin-top: 60px;
}


#sidebar .items li {
    color: #fff;
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}


#sidebar .items li:hover {
    background-color: #242424;
    cursor: pointer;
}


#sidebar .items li:nth-child(2) {
    border-left: 4px solid white;
}




#sidebar .items i {
    color: rgb(202, 202, 202);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}


#sidebar .items li:hover i,
#sidebar .items li:hover a {
    color: white;
}


#sidebar .items li a {
    text-decoration: none;
    left: 0;
    color: #fff;
    font-weight: 300px;
    transition: 0.3s ease;
    width: 100%;
}


#main-content {
    color: white;
    width: calc(100% - 650px);
    margin-left: 300px;
    position: relative;
}


#main-content .welcome-name {
    color: #fff;
    padding: 75px 30px 0 30px;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}


.class-periods {
    padding: 50px 30px 0 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}


.class-periods .class-boxes {
    background: #1C1C1C;
    width: 285px;
    height: 285px;
    padding: 24px 20px 28px 28px;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 .4rem .8rem #0005;
}


.class-periods .class-boxes h3 {
    color: #9c9a9a;
    font-size: 24px;
}


.class-periods .class-boxes span {
    color: #8685ef;
    font-size: 48px;
}


.class-periods .class-boxes i {
    font-size: 50px;
    color: #cacaca;
    align-self: flex-end;
}


.create-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}


.create-buttons .new-class-button {
    margin-right: 20px;
    background: #8685ef;
    color: #cacaca;
    width: 190px;
    height: 100%;
    padding: 10px;
    border-radius: 30px;
    font-size: 24px;
    box-shadow: 0 .4rem .8rem #0005;
}


.create-buttons i {
    padding-right: 5px;
}


.new-class-button-wrapper {
    padding: 5px 10px;
}


.create-buttons .edit-classes-button {
    background: #8685ef;
    color: #cacaca;
    width: 210px;
    height: 100%;
    padding: 10px;
    border-radius: 30px;
    font-size: 24px;
    box-shadow: 0 .4rem .8rem #0005;
}


.edit-classes-button-wrapper {
    padding: 5px 10px;
}

