
.styler {
    font-family: Arial;
    padding: 10px;
    background-image: linear-gradient(lightskyblue, mediumorchid);
}
.header {
    background-color: #EbE8FC;
    padding: 20px;
    text-align: center;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #EbE8FC;
    color: black;
}
.card {
    width: auto;
    background-color: #EbE8FC;
    padding: 20px;
    margin-top: 20px;
}
.leftcolumn {
    float: left;
    width: 75%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}
* {
    box-sizing: border-box;
}
body {
    width: 1800px;
    margin: auto;
}
