<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                Sign Up
            </title>
            <!-- <link rel="stylesheet" type="text/css" href="signup.css"> -->
            <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/signup.css')}}"> 
            <link rel="icon" type="image/png" href="images/autoattendlogo.png"/>
        </head>
        <body>
            <nav>
                <div class="nav-items">
                    <a href={{ url_for('landing_page')}}>Home</a>
                </div>
            </nav>
            <section class="hero">
                <div class="hero-container">
            <div class="column-left">
            <h1 class="heading">Sign Up</h1>
                <input type="text" class="form__input" id="name" placeholder="Full Name" required=""/>
                <label for="name" class="form__label">Full Name</label>
                <br>
                <input type="email" class="form__input" id="name" placeholder="Email" required=""/>
                <label for="name" class="form__label">Email</label>
                <br>
                <input type="password" class="form__input" id="name" placeholder="Password" required=""/>
                <label for="name" class="form__label">Password</label>
                <br>
                <input type="password" class="form__input" id="name" placeholder="Confirm Password" required=""/>
                <label for="name" class="form__label">Confirm Password</label>
                <br>
                <button>Sign Up</button>
            </div> 
            <div class="column-right"> 
                <img src="images/yellowblob.png" class="hero-image">     
                <h3>Or, if you already have an account</h3>
                <script>
                    function go_home() {
                        window.location.href="{{ url_for('landing_page')}}";
                    }
                </script>
                <button class="button" onclick="go_home()">Log In</button>
            </div>
            </div>
            </section>
        </body>
</html>

