/* Set the background color to #181818 */
body {
    background-color: #181818;
}

/* Set the color of the title to #8685ef */
h1 {
    color: #8685ef;
    margin-left: 20px;
}

/* Set the color of the list items to white and remove the bullet points */
ul {
    list-style-type: none;
    margin-top: 20px; /* Add more spacing between list items */
}

li {
    color: white;
    margin-bottom: 10px; /* Add more spacing between list items */
}

/* Underline text after colon */
li::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 1px;
    background-color: white;
    margin-left: 5px;
}