@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #181818;
    position: relative;
    display: flex;
}

a,a:visited {
    text-decoration: none;
    color: transparent;
}

#sidebar {
    background: #101010;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 .4rem .8rem #0005;
}

#sidebar .logo {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 30px 0 0 30px;
}

#sidebar .items {
    margin-top: 60px;
}

#sidebar .items li {
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#sidebar .items li:hover {
    background-color: #242424;
    cursor: pointer;
}

#sidebar .items i {
    color: rgb(202, 202, 202);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#sidebar .items li:hover i,
#sidebar .items li:hover a {
    color: white;
}

#sidebar .items li a {
    text-decoration: none;
    left: 0;
    color: #fff;
    font-weight: 300px;
    transition: 0.3s ease;
}

#main-content {
    width: calc(100% - 350px);
    margin-left: 300px;
    position: relative;
}

#main-content .welcome-name {
    padding: 75px 30px 75px 30px;
    font-weight: 700;
}

#main-content .welcome-name span {
    color: #8685ef;
    font-size: 4rem;
}

#main-content .welcome-name h3 {
    color: rgb(222, 222, 222);
    font-size: 1.5rem;
}

main.table {
    background: #1c1c1c;
    border-radius: 30px;
    box-shadow: 0 .4rem .8rem #0005;
    overflow: hidden;
    margin-bottom: 100px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 1.5rem 1.5rem .5rem 2.5rem;
}

.table-header h1 {
    color: #8685ef;
    font-size: 36px;
}

input {
    width: 30%;
    background: #232323;
    color:rgb(124, 124, 124);
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-right: 20px;
    outline: none;
}

.table-body {
    width: 94%;
    max-height: calc(89% - .8rem);
    margin: .8rem auto;
    overflow: auto;
}

.table-body::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

.table-body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: #0004;
    visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 48px;
    height: 48px;
    margin-right: 1rem;
    border-radius: 50%;
    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    color: rgb(213, 213, 213);
    font-size: 20px;
}

thead th {
    color: rgb(124, 124, 124);
    position: sitcky;
    top: 0;
    left: 0;
    text-align: left;
}

tbody tr {
    border-top: 1px solid #151515;
}

tbody a, a:visited {
    text-decoration: none;
    color: rgb(98, 98, 98);
}

tbody .table-link {
    width: 100%;
    height: auto;
    background: transparent;
    border: 3px solid rgb(98, 98, 98);
    padding: 4px 12px;
    border-radius: 5px;
}

tbody .table-link:hover {
    background: rgb(98, 98, 98);
    color: #1c1c1c;
}

tbody tr:hover {
    background: #252525;
}

#removeButton {
    display: none;
    top: 50%;
    -ms-transform: translateY(18%);
    transform: translateY(18%);
}

#removeButton button {
    border: none;
    background-color: transparent;
    color: #b33d3d;
}

#removeButton button:active {
    border: none;
    background-color: transparent;
    color: #cacaca;
}

.create-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.create-buttons .new-class-button {
    margin-right: 20px;
    background: #8685ef;
    color: #cacaca;
    width: 210px;
    height: 100%;
    padding: 10px;
    border-radius: 30px;
    font-size: 24px;
    box-shadow: 0 .4rem .8rem #0005;
}

.create-buttons i {
    padding-right: 5px;
}

.create-buttons button {
    border: none;
    background-color: transparent;
}

.new-class-button-wrapper {
    padding: 5px 10px;
}

#editModeBtn {
    display: "inline-block"
}

.create-buttons .edit-classes-button {
    background: #8685ef;
    color: #cacaca;
    width: 180px;
    height: 100%;
    padding: 10px;
    border-radius: 30px;
    font-size: 24px;
    box-shadow: 0 .4rem .8rem #0005;
}

.create-buttons .edit-classes-button:hover {
    background: #cacaca;
    color: #8685ef;
    width: 180px;
    height: 100%;
    padding: 10px;
    border-radius: 30px;
    font-size: 24px;
    box-shadow: 0 .4rem .8rem #0005;
}

.edit-classes-button-wrapper {
    padding: 5px 10px;
}

#saveBtn {
    display: none;
}

.create-buttons .save-classes-button {
    background: #8685ef;
    color: #cacaca;
    width: 180px;
    height: 100%;
    padding: 10px;
    border-radius: 30px;
    font-size: 24px;
    box-shadow: 0 .4rem .8rem #0005;
}

.create-buttons .save-classes-button:hover {
    background: #cacaca;
    color: #8685ef;
    width: 180px;
    height: 100%;
    padding: 10px;
    border-radius: 30px;
    font-size: 24px;
    box-shadow: 0 .4rem .8rem #0005;
}

.save-classes-button-wrapper {
    padding: 5px 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    overflow: hidden;
    width: 80%;
}

 .modal-header {
    color: #fff;
    display: flex;
    justify-content: space-between;
} 

.modal-header h1 {
    font-size: 64px;
    padding: 30px 0 20px 30px;
}

.modal-header span {
    width: 48px;
    height: 48px;
    padding: 20px 30px 0 0;
}
 
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    border-radius: 10%;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-color: #eee;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: #8685ef;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 8.6px;
    top: 4.8px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal__btn {
    float: right;
    margin-top: 4rem;
    margin-left: 1rem;
    padding: 1rem 1.6rem;
    border: none;
    border-radius: 100rem;
    color: #fff;
    background: #8685ef;
    font-size: 1.2rem;
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 .4rem .8rem #0005;
  }

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}