{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
      <div class="hero-container">
        <h1 class="heading">Log In</h1>
        <div class="form-wrapper">
            <input type="email" class="form__input" id="name" placeholder="Email" required=""/>
            <label for="name" class="form__label">Email</label>
            <input type="password" class="form__input" id="name" placeholder="Password" required=""/>
            <label for="name" class="form__label">Password</label>
          </div>
            <button>Log In</button>
        <p class="if-you-have">Or if you havent made an account, <a href="/sign-up">Sign Up.</a></p>
      </div>
    </form>
    {% endblock %}