# 1. create virtual environment
# 2. open environment
# 3. pip install -r requirements.txt
# 4  use following link for errors: https://medium.com/analytics-vidhya/how-to-install-dlib-library-for-python-in-windows-10-57348ba1117f

flask
flask_login
certifi
chardet
click
cmake==3.18.2.post1
decorator
dlib==19.18.0
face-recognition
face-recognition-models
idna
imageio
imageio-ffmpeg
moviepy
numpy==1.19.5
opencv-python==3.4.11.45
Pillow
proglog
requests
tqdm
urllib3
wincertstore
flask_sqlalchemy
