body {
  background-color: #181818;
  color: #fff;
  font-family: Arial, sans-serif;
}

header h1,
aside ul li a {
  color: #fff;
}

main h2 {
  color: #8685ef;
}

main p {
  color: #fff;
}

.container {
  display: flex;
}

aside {
  background-color: #181818;
  color: #fff;
  padding: 1em;
  width: 20%;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside ul li {
  margin-bottom: 0.5em;
}

aside ul li a {
  color: #fff;
  text-decoration: none;
}

aside ul li a:hover {
  text-decoration: underline;
}

